link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
script(src="/bootstrap/dist/js/jquery.min.js",type="text/javascript")
script(src="/bootstrap/dist/js/bootstrap.min.js",type="text/javascript")